
   <div style="border:1px solid ;width:35%" >
   <%= label_tag 'your invitaions'  %>
 
       <% @invitations.each  do |userfriend| %>
      
            <li>
            
            <%= userfriend[0] %>
           
            </li>
            <% end %>  
   </div>
 
    


 




