// Place all the styles related to the Groupusers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";


body{
    overflow: hidden;
    // background-image: url(/assets/background.jpg);
    // background-repeat: no-repeat;
}

.group_field{
    width: 50%;
    margin: 50px;
}