
<%= form_tag("/groupusers/create",remote: true , method:"get") do  %>
    <div>
      
      <%= text_field_tag(:group_name) %> 

    </div>
    <div>
     <%= submit_tag "add new group", :class => "btn btn-primary", :id => "add" %>
    
    </div>
 
 <div id="mydiv">
 
  </div>
<%end%>